{% extends "common.schema.json.template" %}

{% block command %}saptune solution enabled{% endblock %}

{% block description %}Describes the output of '{{ self.command() }}.{% endblock %}

{% block result_required %}["Solution enabled"]{% endblock %}

{% block result_properties %}
                "Solution enabled": { "$ref": "#/$defs/saptune enabled Solution" }
{% endblock %}