{% extends "common.schema.json.template" %}

{% block command %}saptune note applied{% endblock %}

{% block description %}Describes the output of '{{ self.command() }}.{% endblock %}

{% block result_required %}["Notes applied"]{% endblock %}

{% block result_properties %}
                "Notes applied": { "$ref": "#/$defs/saptune applied Notes" }                       
{% endblock %}