[Unit]
Description=Optimise system for running SAP workloads
After=syslog.target systemd-sysctl.service network.target tuned.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/saptune service apply
ExecReload=/usr/sbin/saptune service restart
ExecStop=/usr/sbin/saptune service revert

[Install]
WantedBy=multi-user.target
