{% extends "common.schema.json.template" %}

{% block command %}saptune version{% endblock %}

{% block description %}Describes the output of '{{ self.command() }}.{% endblock %}

{% block result_required %}["configured version"]{% endblock %}

{% block result_properties %}
                "configured version": {
                    "description": "The configured saptune version.",
                    "type": "string",
                    "pattern": "^[0-9]$"
                }
{% endblock %}