{% extends "common.schema.json.template" %}

{% block command %}saptune note applied{% endblock %}

{% block description %}Describes the output of '{{ self.command() }}.{% endblock %}

{% block result_required %}["applied Notes"]{% endblock %}

{% block result_properties %}
                "applied Notes": { "$ref": "#/$defs/saptune applied Notes" }                       
{% endblock %}