{% extends "common.schema.json.template" %}

{% block command %}saptune note enabled{% endblock %}

{% block description %}Describes the output of '{{ self.command() }}.{% endblock %}

{% block result_required %}["Notes enabled"]{% endblock %}

{% block result_properties %}
                "Notes enabled": { "$ref": "#/$defs/saptune enabled Notes" }
{% endblock %}