{% extends "common.schema.json.template" %}

{% block command %}saptune version{% endblock %}

{% block description %}Describes the output of '{{ self.command() }}.{% endblock %}

{% block result_required %}["major saptune version"]{% endblock %}

{% block result_properties %}
                "major saptune version": {
                    "description": "The major saptune version.",
                    "type": "string",
                    "pattern": "^[0-9]$"
                }
{% endblock %}