{% extends "common.schema.json.template" %}

{% block command %}saptune invalid{% endblock %}

{% block description %}Describes the output of an invalid saptune command.{% endblock %}

{% block result_required %}[]{% endblock %}

{% block result_properties %}
 
{% endblock %}